---
layout: page
title: CN Catalogue
permalink: /CNCatalogue/
---


<div class="page videoCatalogue">
 <div class="header" 
      style="background-image:url({{ site.baseurl }}/img/gallery/train4.jpg);">
    <div class="wrapper">
      <div class="container content">
        <div class="fill">
          <h1>{{page.title}}</h1>
        </div>
      </div>
    </div><!-- /wrapper -->
  </div><!-- /header -->

  <div class="container">     

    <div class="content">
      <div class="row">
        <div class="col-lg-12 lead">
          <p>
            Canadian National is known among the North American railroad community as being one of the leaders in the development of rail related training and safety video programs. These videos are now available through Visualarity Communications Inc.. Use the Contact Us link to place your order for a purchase or preview of any video.
          </p>
          <p>
            Videos are also available in French
          </p>    
        </div>
      </div><!-- /intor row -->

      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#infoAwareness" aria-controls="infoAwareness" role="tab" data-toggle="tab">
                Information and Awareness
              </a>
            </li>
            <li role="presentation">
              <a href="#safety" aria-controls="safety" role="tab" data-toggle="tab">
                Safety
              </a>
            </li>
            <li role="presentation">
              <a href="#training" aria-controls="training" role="tab" data-toggle="tab">
                Training
              </a>
            </li>
          </ul>
        </div>
      </div><!-- /tab header row -->

      <div class="row">
        <div class="col-lg-12">
           <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="infoAwareness">
              {% include videoCatalogueTable.html vidCatalogue=site.data.catalogue_awareness %}
            </div><!-- /infoAwarenessTab -->

            <div role="tabpanel" class="tab-pane" id="safety">
              {% include videoCatalogueTable.html vidCatalogue=site.data.catalogue_safety %}
            </div><!-- /safety -->

            <div role="tabpanel" class="tab-pane" id="training">
              {% include videoCatalogueTable.html vidCatalogue=site.data.catalogue_training %}
            </div><!-- /trainig -->

          </div>
        </div>
      </div><!-- /tab content row -->


    </div><!-- content -->

  </div><!-- container -->
</div><!-- page -->

