---
layout: default
---

<div id="landing-header">
  <div class="wrapper">
    <div class="container content">
      <div class="fill">
        <h1>Visualarity</h1>
        <hr class="tagline-divider" />
        <h2>Fitting our services to fit you needs</h2>
      </div>
    </div>
  </div>
</div>


<div class="landing-intro">
  <div class="container">
    <div class="row">
      
      <!--
      <div class="landing-intro-img">
        <img src="/img/intro.jpg">
      </div>
      -->

      <div class="col-md-6 col-md-offset-3 landing-intro-text-container">
        <p> <span class="lead">As the stakes in corporate communications rise, so do the demands on the professional communicator.</span> We at Visualarity Communications understand and appreciate the difficult time constraints you are facing and can provide you with direction in determining your needs, developing your plan and assisting you throughout your communication process.<p/>
        <p> We have extensive knowledge and years of experience in the myriad of details involved in planning and producing communications projects right across the country or anywhere in the world. Whatever it may be - video, slide support presentations, desktop publishing, multimedia - our experience is the foundation on which we will build your communications plan with inspiration, dedication and imagination.</p>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /landing-intro -->

<div id="landing-content" class="container">

  <hr class="section-divider">

  <div class="row"><!-- Main services intro-->
    <div id="services-intro">
      <h1>Our main services</h1>
      <!-- add a description??
      <p>
        With XX years of proven experience. Let us help yuo achieve your goals. We offer 
      </p>
      -->
    </div>
  </div><!--/main services intro  -->

  <div class="row"><!-- maind services detials -->
    <div class="services-feature"><!-- Video Production -->

      <div class="col-lg-2">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      </div>

      <div class="col-lg-4">
        <h2>Video production</h2>
        <p>
          From the concept stage to delivery we handle every step of the video production lifecycle. </br> We handle every type of video, ranging from internal communications, training media, on site vidoes - in and outdoor. For every step of th way. Elaboration to setup to editing. We will translate you message and vision to video to ....
        </p>
        <p><a class="btn btn-default btn-more" href="">View our catalogue</a></p>
      </div>
      
      
    </div><!--/video production -->

    <div class="services-feature"><!-- Roadway trainign -->
      <div class="col-lg-2">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      </div>
      
      <div class="col-lg-4">
        <h2>Roadway Worker Training</h2>
        <p>
          Responding/following the FRA regualtio, our training course ensure that your wotkers get sthe proper knowledge to operate safely. Get the certification and stays certicies
        </p>
        <p><a class="btn btn-default btn-more" href="">More information</a></p>
      </div>
      
    </div><!-- /roadway training -->
  </div><!-- /main sevices details -->


  <hr class="section-divider">

  <div class="landing-samples">
    <div class="row landing-samples-header">
      <h2>Samples</h2>
    </div>

    <div class="row landing-sample">
       <div class="col-md-5">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      </div>
      <div class="col-md-7">
        <h2>Welcome to the team</h2>
      </div>

      <hr class="section-divider">
    </div>

    <div class="row landing-sample">
       <div class="col-md-5">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      </div>
      <div class="col-md-7">
        <h2>A knock at Your Door</h2>
      </div>

      <hr class="section-divider">
    </div>
  </div>





  <div class="landing-contact">
    <div class="row landing-contact-header">
      <h2>
        Contact us
      </h2>
    </div>

    <div class="row">

      <div class="col-lg-6">
        {% include contactForm.html %}
        
      </div><!-- /contact form -->
 
      <div class="col-lg-6 contact-info">
        {% include address.html%}
      </div>

    </div>

  </div>

  
  </div>

</div><!-- /.container -->
