---
layout: default
---

<div class="landing">
  <div class="header">
    <div class="wrapper">
      <div class="container content">
        <div class="fill">
          <img src="{{site.baseurl}}/img/logo_big.gif">
          <hr class="tagline-divider" />
          <h2>Fitting our services to fit you needs</h2>
        </div>
      </div>
    </div><!-- /wrapper -->
  </div><!-- /header -->

  <div class="container">
    <div class="section intro">
      <div class="row">
        <div class="col-md-5">

          <img src="{{site.baseurl}}/img/intro.jpg" height="650">
        </div>

        <div class="col-md-8 col-md-offset-4 text-container">
          <p> 
            <span class="lead">As the stakes in corporate communications rise, so do the demands on the professional communicator.</span></br> We at Visualarity Communications understand and appreciate the difficult time constraints you are facing and can provide you with direction in determining your needs, developing your plan and assisting you throughout your communication process.
          <p/>
          <p>
            We have extensive knowledge and years of experience in the myriad of details involved in planning and producing communications projects right across the country or anywhere in the world. Whatever it may be - video, slide support presentations, desktop publishing, multimedia - our experience is the foundation on which we will build your communications plan with inspiration, dedication and imagination.
          </p>
        </div>
      </div>
    </div><!-- /intro -->

    <hr class="section-divider">

    <div class="section main-services">
      <div class="row section-header">
        <h2>Our  services</h2>
      </div>

      <div class="row section-content">

        <div class="service-card"><!-- Video Production -->
          <div class="col-lg-2">
            <img class="img-circle" src="{{site.baseurl}}/img/videoProductionThumb.jpg" width="140" height="140">
          </div>

          <div class="col-lg-4">
            <h3>Video production</h3>
            <p>
              From the concept stage to delivery we handle every step of the video production lifecycle. </br> We handle every type of video, ranging from internal communications, training media, on site vidoes - in and outdoor. For every step of th way. Elaboration to setup to editing. We will translate you message and vision to video to ....
            </p>
            <p>
              <a class="btn btn-default btn-more" href="{{site.baseurl}}/videocatalogue/">
                View our catalogue
              </a>
            </p>
          </div>
        </div><!--/video production -->

        <div class="services-card"><!-- Roadway trainign -->
          <div class="col-lg-2">
            <img class="img-circle" src="{{site.baseurl}}/img/roadwayCertThumb.jpg" alt="Generic placeholder image" width="140" height="140">
          </div>
          
          <div class="col-lg-4">
            <h3>Roadway Worker Training</h3>
            <p>
              Responding/following the FRA regualtio, our training course ensure that your wotkers get sthe proper knowledge to operate safely. Get the certification and stays certicies
            </p>
            <p><a class="btn btn-default btn-more" href="{{site.baseurl}}/roadwayworkertraining/">More information</a></p>
          </div>
        </div><!-- /roadway training -->


      </div><!-- /section-content -->
    </div><!-- /main-services -->

    <hr class="section-divider">

    <div class="section samples">
      <div class="row section-header">
        <h2>Samples</h2>
      </div><!-- /header -->

      <div class="row section-content">

        <div class="col-lg-6">
          <p>
            take a look at our samples ...adasdaslkd jadasdlaksj dalskjd 
          </p>

        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-xs-12 sample">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="40" height="40">
              Welcome to the team
            </div>

            <div class="col-xs-12 sample">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="40" height="40">
              A knock at Your Door
            </div>

          </div>
        </div>

      </div>

    </div><!-- /landing-samples -->

    <hr class="section-divider">

    <div class="section contact">
      <div class="row section-header">
        <h2>Contact us</h2>
      </div>

      <div class="row section-content">
        <div class="col-lg-6 contact-form">
          {% include contactForm.html %}
        </div><!-- /contact form -->
   
        <div class="col-lg-6 contact-info">
          {% include address.html%}
        </div>

      </div>
    </div><!-- /contact -->

  </div><!-- /container -->
</div><!-- /landing -->



    
    

