---
layout: page
title: Roadway Worker Training
permalink: /RoadwayWorkerTraining/
---

<div class="page roadwaySafety">
 <div class="header" 
      style="background-image:url({{ site.baseurl }}/img/gallery/dusk5.jpg);">
    <div class="wrapper">
      <div class="container content">
        <div class="fill">
          <h1>{{page.title}}</h1>
        </div>
      </div>
    </div><!-- /wrapper -->
  </div><!-- /header -->

  <div class="container">
    <div class="content">
      <div class="col-lg-8">
        <h2>Who needs it?</h2>
        <p>
          "Any employee of a railroad, or of a contractor to a railroad, whose duties include inspection, construction, maintenance or repair of railroad track, bridges, roadway, signal and communication systems, electric traction systems and roadway facilities who work on or near the railroad track, or who have the potential to foul the railroad track." (FRA Section 214.7)
        </p>
        <h2>What about the course?</h2>
        <p>
          Our course comprehensively covers 49 CFR 214 Roadway Worker Protection training requirements. The self-guided interactive CD-Rom training program will ensure that you are in compliance with the FRA regulation.
        </p>
        <h2>Training method</h2>
        <p>
          Visualarity's Roadway Worker Training is available on CD-Rom. This method of training allows you to take the course at your location without incurring travel time and expenses. This flexible training method is an incredible value at $100 US (S&amp;H extra). The CD-Rom training program comes with exercises, video segments, quizzes, and your own personal workbook. Its modular design gives you the opportunity to fit this required training into your work schedule. Go through the program in one sitting or a few hours at a time - you decide. Just return the completed workbook to get your certification card.
        </p>
        <h2>How do you stay certified?</h2>
        <p>
          Since the law requires that you take the course every calendar year, we have made it easy for you to re-train. If you have taken our CD-Rom training previously, you are eligible for our new condensed re-training program. This quicker paced program can be completed in a few hours thus ensuring you remain a certified Roadway Worker. The re-training program is offered at the reduced cost of $75.00 US (S&amp;H extra). A small price to pay for your life!
          For more information on FRA's Regulation 49 CFR-214
        </p>
      </div><!-- main-content -->
      
      <div class="col-lg-4 sidebar">
        <div class="row">
          <h3>
            Try these 5 minutes course samples:
          </h3>


          {% include galleryItem.html 
            id="mod1" 
            url="gallery/train1.jpg" 
            title="Item With Title" 
            caption="Item with description"  %}
          {% include galleryItem.html 
            id="mod1" 
            url="gallery/train1.jpg" 
            title="Item With Title" 
            caption="Item with description"  %}
        </div>
      </div><!-- /sidebar -->
    </div><!-- content -->

  </div><!-- container -->
</div><!-- page -->







