<div class="contact-info">
 <div class="row">
    <div class="col-xs-4 contact-label">
      Email:
    </div>
    <div class="col-xs-8">
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 contact-label">
      Postal Address
    </div>
    <div class="col-xs-8">
      <span class="adr">
        <span class="street-address">{{site.companyInfo.address.street-address}}</span></br>
        <span class="locality">{{site.companyInfo.address.locality}}</span>, 
        <span class="region">{{site.companyInfo.address.region}}</span>, 
        <span class="country-name">{{site.companyInfo.address.country}}</span></br>
        <span class="postal-code">{{site.companyInfo.address.postal-code}}</span></br>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 contact-label">
      Tel:
    </div>
    <div class="col-xs-8">
      514-866-1208
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 contact-label">
      Fax:
    </div>

    <div class="col-xs-8">
      514-866-9238
    </div>
  </div>
</div>