<address class="vcard">
  <span class="fn org">{{site.companyInfo.name}}</span>
  <span class="adr">
    <span class="street-address">{{site.companyInfo.address.street-address}}</span>
    <span class="locality">{{site.companyInfo.address.locality}}</span>,  
    <span class="region">{{site.companyInfo.address.region}}</span>
    <span class="postal-code">{{site.companyInfo.address.postal-code}}</span>
    <span class="country-name">{{site.companyInfo.address.country}}</span>
  </span>
  <span class="tel">{{site.companyInfo.telephone-no}}</span>
  <span class="fax">{{site.companyInfo.fax-no}}
</address>