/*---------------------------------------------------------------------------*/

/* Elements -----------------------------------------------------------------*/
  html, body {
    font-family: $body-font;
    height: 100%; //to push footer
    color: $font-color;
  }

  body{
    padding-top: 50px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
  }

  /*wrapper to push the footer*/
  .wrap{
    min-height: 100%;
    height: auto;
    margin: 0 auto -($footer-height);
    padding: 0 0 $footer-height;
  }

/* Misc -----------------------------------------------------------------*/
  .section-divider {
    margin: 80px 0;
  }

/* Nav -----------------------------------------------------------------*/


//Structure
  .navbar-default {
    color: $navbar-font-color;
    background-color: $navbar-color;



    .navbar-brand{
      padding-left:0;
      font-family: $header-font;
      font-size: 2em;
      font-weight: 100;
      text-transform: uppercase;
      color: $navbar-brand-color;
    }

    .navbar-nav{
      font-size: 1.10em;
      li{
        a{
          color: #ddd;
          &:focus, &:hover{
            color: #fff;
          }
        }

        


      }
      
      
    }

  }

  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

  .main-content {

    border-right: 1px solid $border-color;
  }

  footer {
    width: 100%;

    height: $footer-height;
    margin-top: 75px;

    color: $footer-text-color;

    background-color: darken($footer-bg-color, 25%);


    h1, h2, h3, h4, h5, h6 {

      color: $footer-header-text-color;
    }


    .footer-header{
      text-align: center;
      padding-bottom: 25px;
      .tag-line{
        font-size: 1em;
        color: #bbb;
      }
    }

    .footer-content {
      margin-bottom: 40px;
      h2{
        font-size: 1.50em;
      }
      a {
        color: #eee;
      }

      .footer-nav {
        list-style-type: none;
        padding: 0;
      }
    } 
  }

//Default Page 
  .page {
    
    .header{
        background-image: $header-bg-url;
        //background-attachment: fixed;
        background-attachment: scroll;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        .wrapper{
          height: 350px;
          .content{
            padding-top: 50px;
            text-align: right;
            color: #222;

            h1 {
              font-size: 5em;
              font-weight: 100;   
              text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
              color:rgb(255, 255, 255);     
              padding-top: 25px;
              padding-bottom: 25px;
            }
            h2{
              margin-top: 10px;
              padding-bottom: 15px;
              text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
          color:rgb(255, 255, 255);
            }
          }
        }

        .fill{
          background-color: rgba($fill-box-color, .3);
          padding-left: 20px;
          padding-right: 20px;
          margin-right: -20px;
        }

        .tagline-divider {
          margin: 0;
        }
      }//header

    .lead{
      font-size: 1.5em;
    }

    .content{
      padding-top: 50px;
    }

 } 


//Landing page/index
  .landing{

    .header{
      background-image: $header-bg-url;
      //background-attachment: fixed;
      background-attachment: scroll;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      .wrapper{
        height: 900px;
        .content{
          padding-top: 150px;
          text-align: right;
          color: #222;

          h1 {
            font-size: 10em;
            font-weight: 200;   
            text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
            color:rgb(255, 255, 255);     
          }
          h2{
            margin-top: 10px;
            padding-bottom: 15px;
            text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
        color:rgb(255, 255, 255);
          }
        }
      }

      .fill{
        background-color: rgba($fill-box-color, .3);
        padding-left: 20px;
        padding-right: 20px;
        margin-right: -20px;
      }

      .tagline-divider {
        margin: 0;
      }
    }//header

    .section {
      .section-header{
        h2 {
          font-size: 4em;
          text-align: center;
          margin-bottom: 25px;
        }
      }      
    }

    .intro {
      padding-top: 75px;
      font-size: 1.25em;
      border-top: 1px #ddd solid;

      .row {
        height: 650px;
        position:relative;
      }

      .lead{
        font-size: 1.5em;
      }

      .text-container {
        background-color: rgba($fill-box-color, .9);
        text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
        color:rgb(255, 255, 255);
        margin-top: 50px;
        padding: 50px;
        z-index: 10;
        position:relative;
        float:right;
      }

      img{
        z-index: 0;
        float:letf;
        position:absolute;
        display:inline-block;
      }
    }//intro

    .main-services{
      .service-card{
        h3{
          margin-top: 0;
        }
        img {
          margin-top: 10px;
          float: right;
        }
        .btn-more{
          float: right;
        }
      }
    } // main-services



.samples{
    .row{ -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 

    }

    .mason{
    display: inline-block;
    padding:  .25rem;
    width:  100%; 
    }

  
}


    .gallery-item{
      margin-bottom: 30px;
 position:relative;
 display: block;

      .caption{
        padding: 20px;
        background-color: rgb(231, 231, 231);
        
      }


    }

    .contact{
      .contact-form{

      }
      .contact-info{
        font-size: 1.15em;
      }

    }//contact

  }//landing




//Roadway training
  .course-sample-list{
      list-style-type: none;
      padding: 0;

      margin-top: 25px;

      li{
        margin-bottom: 15px;

        img {
          margin-right: 15px;
        }

      }

  }

//Video catalogue
  

  .nav-tabs{
    font-size: 1.25em;
  }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border-bottom: 1px solid #ddd;
}




  .video-catalogue-table {
    border-top: none;
    thead{
      text-align: center;
    }
    .col-duration{
      text-align: right;
    }
    .col-cost{
      text-align: right;
    }
    .col-sample {
      text-align: center;
    }
  }

//Contact
  .contact-form{
    .btn-submit{
      float: right;
    }
  }

  .contact-info{
    .contact-label{
      text-align: right;
    }
    

  }


//gallery modal
.gallery-modal{

  .modal-dialog {
    width: 80%;
    margin: 30px auto;
    max-height: 100%;
    .modal-content{
      .modal-body{
        padding:30px;
      }
    }
  }
}


/* RESPONSIVE CSS
-------------------------------------------------- */
  @media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
      margin-top: 20px;
    }
    .navbar-wrapper .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }

  }

